<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello-K8s</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="static/img/k8s.png">
</head>

<body>
    <div class="content">
        <div>
            <h1 class="noselect">Hello</h1>
            <img src="static/img/k8s.png" />
        </div>
    </div>

    <footer>
        <p class="noselect">Developed with ❤️ | <a href="https://github.com/keivanipchihagh/hello-k8s" target="_blank">keivanipchihagh</a></p>
    </footer>
</body>

</html>